* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: auto;
  margin: 0;
}
.row {
  display: flex;
}
.col-2 {
  flex-basis: 50%;
}

.col-18 {
  flex-basis: 18%;
}
.col-30 {
  flex-basis: 30%;
}
.col-3 {
  flex-basis: 33.333333%;
}
.col-4 {
  flex-basis: 25%;
}
.col-5 {
  flex-basis: 20%;
}
.col-40 {
  flex-basis: 55%;
}
.col-85 {
  flex-basis: 15%;
}

.col-12 {
  flex-basis: 12%;
}
.col-13 {
  flex-basis: 13%;
}

.col-10 {
  flex-basis: 10%;
}

.col-50 {
  flex-basis: 5%;
}
.col-8 {
  flex-basis: 8%;
}

.col-27 {
  flex-basis: 27%;
}

.navbar {
  top: 0;
  z-index: 10; /* Higher value ensures it's on top */
  background: transparent; /* Set the background to transparent */
  width: 100%; /* Make it span the entire width */
}

.navbar {
  z-index: 10;
  background: black;
  width: 100%;
  color: white;
  transition: color 1.3s;
}

.navbar:hover {
  background-color: white;
  color: black;
}

.navbar-col {
  margin-top: 0.2%;
  margin-bottom: 0%;
  text-align: left;
  transition: transform 0.4s ease-out;
  padding: 1.6%;
}

.navbar-text {
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 130%;
}

.navbar-text:hover {
  text-decoration: underline;
}

.navbar-col-logo {
  margin-top: 8%;
  object-position: left;
}

.navbar-col-logo-text {
  margin-top: 6%;
  font-size: 220%;
  text-align: center;
  font-size: 200%;
  margin-left: 1%;
  padding-left: 1.5%;
  margin-right: 1%;
  font-family: Arial, Helvetica, sans-serif;
  transition: 1s ease-in-out;
}

.navbar:hover {
  .navbar-col-logo-text {
    color: black;
  }
}

.navbar-shopping-icon {
  transform: scale(2, 2);
  margin-top: 10.5%;
  margin-bottom: 2%;
  margin-left: 50%;
  cursor: pointer;
  transition: transform;
  transition-duration: 0.5s;
  color: white;
}
.navbar-account-icon {
  transform: scale(2, 2);
  margin-top: 10.5%;
  margin-left: 20%;
  margin-bottom: 2%;
  cursor: pointer;
  transition: transform;
  transition-duration: 0.5s;
  color: white;
}

.navbar:hover {
  .navbar-shopping-icon {
    color: black;
  }
}

.navbar:hover {
  .navbar-account-icon {
    color: black;
  }
}

.navbar-account-icon:hover {
  transform: scale(2.5, 2.5);
}

.navbar-shopping-icon:hover {
  transform: scale(2.8, 2.8);
}

.navbar-col:hover {
  transform: translate(0, 10%);
}

@media screen and (max-width: 1024px) {
  .row {
    display: block;
  }

  .container {
    display: block;
  }
}

.navbar-all {
  margin-bottom: 1%;
}

/* for the dropdown */
/* 





 */

.navbar {
  overflow: visible;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  margin: 0;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: transparent;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  padding: 40px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 20px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  /* background-color: #ddd; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
